h1{
    text-align: center;

}
p{
    font-size: 25px;
    text-align: center;
}
.circle img{
border-radius: 50%;
    height: 150px;
    width: 150px;
}
body{
    background-color: blanchedalmond;
}
#parent1{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}
#image1 img{
    border: 3px black solid; 
}
#image2 img{
    border: 3px black solid;
}
#image3 img{
    border: 3px black solid;
}
#image4 img{
    border: 3px black solid;
}
#parent2{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}
.square img{
height: 200px;
width: 200px;
}
